.info,
.private {
    font-style: italic;
}

.private {
    color: deeppink;
}

.window {
    border: 2px solid gray;
    overflow: hidden;
    overflow-y: auto;
}

.window p {
    line-height: 1rem;
    margin: 0;
    padding: 5px;
}
