<h1 class="mb-3 text-center">{{user.room}}</h1>
<div class="row justify-content-center">
    <div class="col-12 col-md-10 order-2 order-md-1">
        <div id="chatWindow" class="mb-3 window"></div>
    </div>
    <div class="col-12 col-md-2 order-1 order-md-2">
        <div id="userWindow" class="mb-3 window"></div>
    </div>
</div>
<form class="needs-validation" novalidate>
    <div class="row justify-content-center">
        <div class="col-12 col-md-2">
            <div class="form-floating mb-3">
                <select id="userList" class="form-select">
                    <option value="{{user.room}}">Everyone</option>
                </select>
                <label for="userList">To</label>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
                <input type="text" id="txtChat" class="form-control form-control-lg" maxlength="1000" placeholder="Type here to chat" ng-model="text" required>
                <label for="txtChat">Type here to chat</label>
            </div>
        </div>
        <div class="col-12 col-md-2 d-grid gap-0">
            <button type="submit" id="btnSend" class="btn btn-primary btn-lg mb-3">Send</button>
        </div>
        <div class="col-12 col-md-2 d-grid gap-0">
            <button type="button" id="btnLeave" class="btn btn-danger btn-lg mb-3" ng-click="leaveChat()">Leave</button>
        </div>
    </div>
</form>