<h1 class="mb-3 text-center">Welcome!</h1>
<form class="needs-validation" novalidate>
    <div class="row justify-content-center">
        <div class="col-12 col-md-2">
            <div class="form-floating mb-3">
                <input type="text" id="txtName" class="form-control form-control-lg" maxlength="20" placeholder="Name" ng-model="user.name" required>
                <label for="txtName">Name</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-2">
            <div class="form-floating mb-3">
                <input type="text" id="txtRoom" class="form-control form-control-lg" maxlength="20" placeholder="Room" ng-model="user.room" required>
                <label for="txtRoom">Room</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-2 d-grid gap-0">
            <button type="submit" class="btn btn-primary btn-lg">Connect</button>
        </div>
    </div>
</form>