html, body {
    height: 100%;
}

.info, .private {
    font-style: italic;
}

.private {
    color: deeppink;
}

#ChatWindow, #UsersWindow {
    border: 1px solid #CCC;
    height: 540px;
    overflow: hidden;
    overflow-y: auto;
}

#ChatWindow {

}

#UsersWindow {

}

#ChatWindow p, #UsersWindow p {
    line-height: 1em;
    margin: 0;
    padding: 5px;
}
