html,
body {
    height: 100%;
}

body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
}

h1 {
    text-align: center;
}

.content {
    width: 50%;
    margin: 0 auto;
}

p.info,
p.private {
    font-style: italic;
}

p.private {
    color: deeppink;
}

#ChatWindow,
#UsersWindow {
    display: inline-block;
    border: 1px solid #ccc;
    overflow: hidden;
    overflow-y: auto;
}

#ChatWindow {
    height: 350px;
    width: 70%;
}

#UsersWindow {
    vertical-align: top;
    height: 250px;
    width: 20%;
}

#ChatWindow p,
#UsersWindow p {
    margin: 0;
    padding: 5px;
    line-height: 1em;
}

#UsersWindow p {
    cursor: pointer;
}

#UsersWindow p:hover {
    background: #000;
    color: #fff;
}
