html, body {
    height: 100%;
}

.info, .private {
    font-style: italic;
}

.private {
    color: deeppink;
}

#ChatWindow, #UsersWindow {

}

#ChatWindow {

}

#UsersWindow {

}

#ChatWindow p, #UsersWindow p {
    line-height: 1em;
    margin: 0;
    padding: 5px;
}
