<h2>&quot;{{chat.user.room}}&quot;</h2>
<div>
    <div id="ChatWindow"></div>
    <div id="UsersWindow"></div>
</div>
<br />
<form ng-submit="chat.send()">
    <label>To:</label>
    <select id="UserSelect" name="to" ng-model="chat.to">
        <option value="{{self.user.room}}" selected="selected">All</option>
    </select>
    <input name="text" type="text" maxlength="100" required="required" ng-model="chat.text" />
    <input name="submit" type="submit" value="Send Message" />
    <input name="leave" type="button" value="Leave Chat" ng-click="chat.leave()" />
</form>