body {
    font: normal 14px 'Trebuchet MS', sans-serif;
}

.info,
.private {
    font-style: italic;
}

.private {
    color: deeppink;
}

.window {
    border: 1px solid gray;
    overflow: hidden;
    overflow-y: auto;
}

.window p {
    line-height: 1rem;
    margin: 0;
    padding: 5px;
}

#chatWindow {
    height: 200px;
}
